In [ ]:
# Q1
'''SQL database or relational database is a collection of highly structured tables, wherein each row reflects a data entity,
   and every column defines a specific information field.'''
'''      SQL                                                             	NoSQL
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)               	Non-relational or distributed database system.
These databases have fixed or static or predefined schema	    They have dynamic schema
These databases are not suited for hierarchical data storage.	These databases are best suited for hierarchical data storage.
These databases are best suited for complex queries         	These databases are not so good for complex queries
Vertically Scalable	Horizontally scalable
Follows ACID property	                                        Follows CAP(consistency, availability, partition tolerance)
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	        Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc'''

In [ ]:
# Q2
'''Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects.
   These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions,
   and aliases. Creating a schema.'''
# Create
'''The CREATE INDEX command is used to create indexes in tables and it allows duplicate values.
   Indexes are used to retrieve data from the database very fast.'''
# exampleof create
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE  if not exists database_name")
mydb.close()



# Drop
'''The DROP statement destroys the objects like an existing database, table, index, or view.
   A DROP statement in SQL removes a component from a relational database management system (RDBMS).
   Syntax: DROP object object_name
   Examples: DROP TABLE table_name; table_name: Name of the table to be deleted.'''import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE database_name")
mycursor.execute("DROP TABLE table_name")
mydb.close()



# Alter
'''The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.
   The ALTER TABLE statement is also used to add and drop various constraints on an existing table.'''
# Example
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE Customers")
mydb.close()



#TRUNCATE
'''The SQL TRUNCATE TABLE command is used to delete complete data from an existing table.
   You can also use DROP TABLE command to delete complete table but it would remove complete table structure form the database
   and you would need to re-create this table once again if you wish you store some data.'''
#example
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE  table_name")
mydb.close()

In [ ]:
# Q3
'''A DML (data manipulation language) refers to a computer programming language that allows you to add (insert),
   delete (delete), and alter (update) data in a database.
   A DML is typically a sublanguage of a larger database language like SQL,
   with the DML containing some of the language's operators.'''
# INSERT
'''INSERT INTO table_name (column1, column2, column3, ...)
   insert is use to add data in the table the values add as per the order of the column in the table.'''
# example
# if table has colume (c1 int  ,c2 varcur(10),c3floot,c4 boolen)  so add the values as( 42, 'ak',2.3, True) 
# in this 42 added to c1 , 'ak' added to c2 and so-on
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE text")
mycursor.execute("CREATE TABLE text.table_name(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 VARCHAR(40))")
mycursor.execute("INSERT INTO TEST1.test_table value(56,'akm',85.20,'mb')")
mydb.close()


# UPDATE
'''Update command is a data manipulation command which is used to edit the records of a table.
   It may be used to update a single row based on a condition,
   all rows or set of rows based on the condition given by the user.'''
# EXAMPLE
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE text")
mycursor.execute("CREATE TABLE text.table_name(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 VARCHAR(40))")
mycursor.execute("UPDATE TABLE table_name set C1='sneha' where C4='CSE'")
mydb.close()



# DELETE
'''Delete command is a data manipulation command which is used to remove records from a table.
   All records may be removed in one go, or a set of records may be deleted based on a condition.'''
# EXAMPLE
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE text")
mycursor.execute("CREATE TABLE text.table_name(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 VARCHAR(40))")
mycursor.execute("DELETE from table_name where name='sneha'")
mydb.close()

In [ ]:
# Q4
'''The full form of DQL is Data Query Language.
   DQL is a part of the grouping involved in SQL sub-languages.
   it is a component of SQL statement that allows getting data from the database and imposing order upon it.
It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it.
'''
# SELECT
'''An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE )
   that specify criteria.
   The syntax is: SELECT column1, column2 FROM table1, table2 WHERE column2='value''''
# EXAMPLE
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE text")
mycursor.execute("CREATE TABLE text.table_name(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 VARCHAR(40))")
mycursor.execute("CREATE TABLE text.table_name1(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 VARCHAR(40))")
mycursor.execute("SELECT c1, c2 FROM table_name, table_name1 WHERE c2='value'")
mydb.close()

In [ ]:
# Q5
'''PRIMARY KEY
   A primary key is used to ensure data in the specific column is unique.
   It uniquely identifies a record in the relational database table.
   Only one primary key is allowed in a table.
   It does not allow NULL values.
   It does not allow NULL values.
   
   FOREIGN KEY
   A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
   It refers to the field in a table which is the primary key of another table.
   Whereas more than one foreign key are allowed in a table.
   It can contain duplicate values and a table in a relational database.
   It can also contain NULL values.
'''

In [ ]:
# Q6
# Python code to connect MySQL to python
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()

# cursor()
'''A cursor keeps track of the position in the result set, and allows you to perform multiple operations
   row by row against a result set, with or without returning to the original table.'''
# execute
'''The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text.
   The results are stored in a new Recordset object if it is a row-returning query.
   A closed Recordset object will be returned if it is not a row-returning query.'''